<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        
            <div class="navbar-header">
              <a class="navbar-brand faded" href="#">
                <h4>Running Meetup App</h4>
              </a>
            </div>
        
        <div class='navbar-header pull-right'>
            <ul class='nav '>
                <p>
                    {{#if user}}Logged in as: {{user.username}}{{else}}Not logged in{{/if}}
                </p>
                <a href="/"><li class='btn btn-default'>Home</li></a>
                <a href="/login"><li class='btn btn-default'>Login</li></a>
                <a href="/auth/facebook"><li class='btn btn-default'>Log in With Facebook</li></a>
                <a href="/listUsers"><li class='btn btn-default'>Show Nearby Runners</li></a>
            </ul>
        </div>
    </div>
</nav>


{{#if success}}
    <p class='success'>{{success}}</p>
{{/if}}
{{#if failure}}
    <p class='failure'>{{failure}}</p>
{{/if}}
