<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/auth/facebook">Log in With Facebook</a></li>
</ul>
{{#if user}}
<p>Username: {{user.username}}</p>
{{else}}
<p>Not logged in</p>
{{/if}}
{{#if success}}
    <p>Success message: {{success}}</p>
{{/if}}
