<ul>
    <a href="/"><li class='btn btn-default'>Home</li></a>
    <a href="/login"><li class='btn btn-default'>Login</li></a>
    <a href="/auth/facebook"><li class='btn btn-default'>Log in With Facebook</li></a>
</ul>
{{#if user}}
<p>Username: {{user.username}}</p>
{{else}}
<p>Not logged in</p>
{{/if}}
{{#if success}}
    <p>{{success}}</p>
{{/if}}
