<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Running Meetup</a>
          
        </div>
        
        <div class='collapse navbar-collapse pull-right' id='collapse-menu'>
            {{#if user}}
                <ul class='navbar nav'>
                    <li><a href="/">Home</a></li>
                    <li><a href="/inbox">Inbox</a></li>
                    <li><a href="/editProfile">Edit Profile</a></li>
                    <li><a href="/listUsers">Show Nearby Runners</a></li>
                    <li><a  href="/profile/{{user._id}}">{{user.username}}</a></li>
                </ul>
            {{/if}}
        </div>
    </div>
</nav>

