<!DOCTYPE html>
<style type='text/css'>
    li {
        display: inline;
    }
    ul {
        background-color:cyan;
    }
</style>
<html>
<head>
    <meta charset="utf-8">
    <title>Voting App</title>
</head>
<body>
 
    {{> menu}}

    {{{body}}}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
</body>
</html>
