.users-table {
    max-width:100%;
    text-align:left;
    table-layout:fixed;
}
table td{
    word-wrap:break-word;
    overflow: hidden;
}
.success {
    background-color: green;
}
.failure {
    background-color: red;
}
body {
    background-color: #6BBAA7;
}
.navbar {
    background-color: #FBA100;
}
.main-container {
    background-color: #B6A19E;
    max-width: 100vw;
}