.users-display {
    background-color:lightgrey;
}
.users-table {
    width:50%;
    text-align:left;
}
.success {
    background-color: green;
}
.failure {
    background-color: red;
}
body {
    background-color: #6BBAA7;
}
.navbar {
    background-color: #FBA100;
}
.main-container {
    background-color: #B6A19E;
}