<div>
    <h1>Running Meetup</h1>
    <h3>Bored of running alone? Want to train in a group?</h3>
</div>

<h4>No more lonely runs...</h4>
<p>The running meetup app is a platform for meeting other runners in your area. Filter nearby users by pace and distance, send a message, and meet up!</p>
<p>Get started:</p>
<ul>
    <li><a href='/register'>Register</a></li>
    <li><a href="/login">Login</a></li>
</ul>
