<form action='/newSurvey' method='post'>
    <div>
        <label>Survey Question</label>
        <br>
        <input type='text' name='question'>
    </div>
    <div>
        <label>Enter possible responses separated by semicolons</label>
        <br>
        <textarea rows='4' columns='70' name='responses'>
        </textarea>
    </div>
    <div>
        <input type="submit" value="Create"/>
    </div>
</form>